<%- include("partials/head.ejs") %>
<h1 class="mt-5 text-primary text-center fw-bold">WebStore</h1>

<%- include("partials/formulario.ejs") %> 

<%- include("partials/vistaProducto.ejs") %> 

<%- include("partials/footer.ejs") %>